{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Toyota page{% endblock  %}
{% block main %}
<div class="about-us-page">
    <div class="about-us-page-words">
        <h1 class="text-center">Brand</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xxl-8 col-lg-8 col-md-12 col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col text-center">Brand Name</th>
                        <th scope="col text-center">Date</th>
                        <th scope="col text-center">Update</th>
                        <th scope="col text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                   {% for brands in brand %}
                        <tr>
                            <td class="text-center">{{brands.brand_name}}</td>
                            <td class="text-center">{{brands.date_created}}</td>
                            {% comment %} <td class="text-center"><a href="{% url 'delete_brand' brand.id %}"><i class="fas fa-trash-alt"></i></a></td> {% endcomment %}
                            <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
            <form class="p-4 rounded shadow-md my-2" action="{% url 'create_brand' %}" method="POST">
                {% csrf_token %}
                <div class="col-12 mb-2">
                    <input type="text" name="brand" class="search-input">
                </div>
                <input type="submit" value="create brand" class="btn btn-primary my-2">
            </form>
        </div>
    </div>
</div>
{% endblock %}