{% extends 'base.html' %}
{% load static %}
{% block title %}About page{% endblock  %}
{% block main %}
    
<div class="about-us-page">
    <div class="about-us-page-words">
        <h1 class="text-center">About Page</h1>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-page-welcome"></div>
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-page-welcome-words">
            <p class="about-us-page-welcome-words-title">WELCOME TO <span class="navbar-brand">Fast Car</span></p>
            <p>Before we get ahead of ourselves, we want to welcome you to Loeber Motors. While nothing can replace thing on-the-lot experience. <br><br> We appreciate you taking the time today to visit our web site. Our goal is to give you an interactive tour of our new and used inventory, as well as allow you to conveniently get a quote, schedule a service appointment, or apply for financing. The search for a luxury car is filled with high expectations. Undoubtedly, that has a lot to do with the vehicles you are considering, but at Motors, we think you should also have pretty high expectations for your dealership. </p>
        </div>
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-page-welcome2"></div>
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-page-welcome-words">
            <p class="about-us-page-welcome-words-title">YOUR SAFETY IS OUR PRIORITY</p>
            <p>Before we get ahead of ourselves, we want to welcome you to Loeber Motors. While nothing can replace thing on-the-lot experience. <br><br> We appreciate you taking the time today to visit our web site. Our goal is to give you an interactive tour of our new and used inventory, as well as allow you to conveniently get a quote, schedule a service appointment, or apply for financing. The search for a luxury car is filled with high expectations. Undoubtedly, that has a lot to do with the vehicles you are considering, but at Motors, we think you should also have pretty high expectations for your dealership. </p>
        </div>
    </div>
</div>

{% endblock  %}