{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock  %}
{% block main %}

{% comment %} landing page {% endcomment %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item text-start active">
      <h1 class="home-header">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellat, voluptas.</h1>
    </div>
    <div class="carousel-item text-start">
      <h1 class="home-header">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellat, voluptas.</h1>
    </div>
    <div class="carousel-item text-start">
      <h1 class="home-header">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellat, voluptas.</h1>
    </div>
  </div>
</div>

{% comment %} landing page {% endcomment %}

{% comment %} why did you choose us {% endcomment %}
<h2 class="why-us-header text-center my-5">why choose us</h2>

<div class="container why-us-container">
  <div class="row">
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-thumbs-up"></i></div>
        <div class="why-us-words">
          <h5>AT/MT Transmission</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-award"></i></div>
        <div class="why-us-words">
          <h5>Outstanding Services</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-cogs"></i></div>
        <div class="why-us-words">
          <h5>Name for Quality Vehicles</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-map-marked-alt"></i></div>
        <div class="why-us-words">
          <h5>GPS on Every Vehicles</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-baby-carriage"></i></div>
        <div class="why-us-words">
          <h5>Baby chairs/Booster Seats</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="why-us">
        <div class="why-us-icons"><i class="fas fa-headset"></i></div>
        <div class="why-us-words">
          <h5>24 Hours Support</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem deserunt, blanditiis harum asperiores placeat autem dolor facere nesciunt voluptate vero, soluta suscipit dicta fugit exercitationem! Aut vitae pariatur facilis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} why did you choose us {% endcomment %}

{% comment %} customer reviews {% endcomment %}
<br>
<br>
<br>
{% comment %} customer reviews {% endcomment %}

{% comment %} what do you know about us {% endcomment %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-words">
      <p class="about-us-header">What Do You Know About Us</p>
      <br>
      <p class="about-us-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt deleniti harum ipsam, necessitatibus ad autem repellendus officia quod accusantium asperiores perferendis incidunt magni sapiente numquam assumenda mollitia obcaecati dolorum eius.</p>
      <br>
      <a href="{% url 'contact' %}" class="about-us-button">OUR COMPANY</a>
    </div>
    <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 about-us-img"></div>
  </div>
</div>

{% comment %} what do you know about us {% endcomment %}

{% comment %} any question {% endcomment %}

<div class="question">
  <div class="have-a-question">
    <p>HAVE A QUESTIONS? FEEL FREE TO ASK...</p>
  </div>
  <div class="question-phone-number">
    <p><span><i class="fas fa-phone"></i></span>+1 878-9674-4455</p>
  </div>
  <div class="question-feedback">
    <p><span><i class="fas fa-envelope"></i></span> FEEDBACK</p>
  </div>
</div>
{% comment %} any question {% endcomment %}


{% comment %} map {% endcomment %}
<div class="home-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.4593283018!2d3.1438730798331482!3d6.548376807070054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1658151860085!5m2!1sen!2sng" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% comment %} map {% endcomment %}


{% endblock  %}